<div class="clearfix">
  <div class="teaser lead">
    <img src="assets/photos/hotel.jpg" alt="hotel">
    <span>"Virtual Hotel Service Announced"</span>
  </div>

  <div class="teaser secondTop">
    <img src="assets/photos/divorce.jpg" alt="divorce">
    <span>"Declining Divorce Rates Suprise Researchers"</span>
  </div>

  <div class="teaser secondBot">
    <img src="assets/photos/room2.jpg" alt="facelift">
    <span>"Hotel Gets Facelift"</span>
  </div>

  <div class="teaser">
    <img src="assets/photos/story1.jpg" alt="roaring">
    <span>"Roaring 20's Hotel Reopens"</span>
  </div>

  <div class="teaser">
    <img src="assets/photos/story2.jpg" alt="recall">
    <span>"Auto Recall Stuns Owners"</span>
  </div>

  <div class="teaser">
    <img src="assets/photos/story3.jpg" alt="jail">
    <span>"Politician Behind Bars"</span>
  </div>

  <div class="teaser">
    <img src="assets/photos/story4.jpg" alt="airportwifi">
    <span>"New WIFI in Airports"</span>
  </div>

</div>
